
#constructionTable th, td{
    background-color: rgb(195, 206, 206);
    border: 2px solid;
    padding-left: 3px
}

#constructionTable td{
    width: 60px
}

#constructionTable #id{
    width: 50px
}

#constructionTable #name{
    width: 150px
}

#constructionTable #amount{
    width: 60px
}

#constructionTable #costPerUnit{
    width: 70px
}

#constructionTable #totalCost{
    width: 100px
}

#addItem a:link, a:visited {
    border: 2px solid;
    background-color: #abb7f0;
    color: rgb(28, 0, 187);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block
  }

#addItem a:hover {
    border: 2px solid;
    background-color: #929fe2;
    color: rgb(19, 0, 129);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block
  }

