body, html{
  margin:0;
  padding:0;
  background-color: aliceblue;
  width: 100%;
  height: 100%;
}

h1{
    text-align: center;
    width: 300px;
    color: rgb(12, 66, 92);
    font-size: 35
}

.topnav {
    background-color: rgb(64, 105, 143);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
  }

  .topnav a#right {
      float: right;
    }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(106, 130, 187);
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #61c59f;
    color: white;
  }

  .topnav a:visited {
      text-decoration: none;
      color: #f2f2f2;
  }