{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/topNav.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="topnav">
  <a href="../">Home</a>
  <a href="../defaultvalues/">Construction Items</a>
  <a class="active">House Admin Page</a>
  <a class="active" id="right">Admin</a>
</div>

<div id="mainWindow">
    Welcome to the admin Page
    <br><br>
    <p><a href="houseAdminPage">Modify houses</a></p>
    <p><a href="defaultvalues/">Modify construction items</a></p>
</div>
