{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="topnav">
  <a href="../">Home</a>
  <a href="../constructionBrowser/">Construction Items</a>
  <a href="../houseBrowser/">Houses</a>
  <a class="active" id="right">Admin</a>
</div>

<div id="mainWindow">
    Welcome to the admin Page
    <br><br>
    <p><a href="houseAdminPage">Modify houses</a></p>
    <p><a href="constructionAdminPage/">Modify construction items</a></p>
</div>
