<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}based{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/defaultValues.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/housePlans.css' %}">
</head>

<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/inventoryBrowser/">Inventory</a>
    <a href="/housePlanBrowser/">House plans</a>
    <a href="/admin/" class="right">Admin</a>
    <a href="/register/" class="right">Register</a>
    <a href="/login/" class="right">Login</a>
    <span id="logout" class="right"><a href="{% url 'logoutPage' %}">Logout</a> </span>
    {% if request.user.is_authenticated %}
    <div id="hello-msg" class="right">Hello, {{request.user}}</div>
    {% endif %}
</div>

{% block body %}
{% endblock %}
</body>
</html>