{% extends 'base.html' %}




{% block body %}



<div id="housePlansArray">
    {% for house in house_plans %}

       <a href="{{house.id}}" id="housePlansBlock">
            <img src="/images/default.jpg" class="image-in-browser"></img>

            <div id="houseName" >{% block housename %} {% endblock %}</div>
            <table class="plan-browser-info-table">

                <tr>
                    <td>{% block housetotalarea %} {% endblock %}m2</td>
                    <td>{% block houseprice %} {% endblock %}m2</td>
                </tr>
                <tr>
                    <td>{% block houserooms %} {% endblock %}rooms</td>
                    <td>{% block housefloors %} {% endblock %}floors</td>
                </tr>
            </table>
        </a>
    {% endfor %}
</div>





{% endblock %}



