<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kekW</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/defaultValues.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/houses.css' %}">
</head>

<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/inventoryBrowser/">Inventory</a>
    <a href="/houseBrowser/">House plans</a>
</div>

{% block body %}
{% endblock %}
</body>
</html>