{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/defaultvalues.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/topNav.css' %}">
</head>



<div class="topnav">
  <a class="active" href="../">Home</a>
  <a href="defaultvalues/">Construction Items</a>
  <a href="houseAdminPage/">House Admin Page</a>
  <a href="houseAdminPage/" id="right">Admin</a>
</div>



<div id="tableAndFlex">

<h1>Construction</h1>

<table id="constructionTable">
<tr>
<td id="id">ID</td>
<td id="name">name</td>
<td id="amount">amount</td>
<td id="costPerUnit"> cost/unit</td>
<td id="totalCost">all units cost</td>
<td>del</td>

{% for x in myitems %}
<tr>
<td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
<td>{{ x.name }}</td>
<td>dd</td>
<td>{{ x.price }}</td>
<td>{{ dd}}</td>

<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>

<p id="totalValue">total value: {{ total_value }}</p>
<p id="addItem"><a href="add/">Add item</a></p>
<!-- <p id="defaultvalues"><a href="defaultvalues/">set default values</a></p>
<p id="houseAdminPage"><a href="houseAdminPage/">goToHouseAdminPage</a></p> -->

</div>
