
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kekW</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/defaultValues.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/topNav.css' %}">
</head>

<div class="topnav">
    <a href="../">Home</a>
    <a class="active">Construction Items</a>
    <a href="../houseAdminPage/">House Admin Page</a>
    <a href="../houseAdminPage/" id="right">Admin</a>
</div>

<body>

<div id="tableAndFlex">
<h1>SET DEFAULT VALUES</h1>
<table id="defaultTable">
<tr>
<td id="id">ID</td>
<td id="name">name</td>
<td id="price">price</td>
<td id="quantityHundred">Q 100m2</td>
<td id="quantityHundredFifty">Q 150m2</td>
<td id="quantityHundredTwoHundred">Q 200m2</td>


{% for item in items %}
<tr>
<td><a href="update/{{ item.id }}">{{ item.id }}</a></td>
<td>{{ item.name }}</td>
<td>{{ item.price }}</td>
<td>{{ item.hundred }}</td>
<td>{{ item.hundredfifty }}</td>
<td>{{ item.twohundred }}</td>
</tr>
{% endfor %}
</table>


<a href="adddefaultvaluepage/">add item</a>
<br>
<a href="../">go back</a>
</div>
</body>
</html>