{% extends 'base.html' %}
{% block title %}House plans{% endblock %}
{% block body %}

<div class="containerNavMain">
    <div class="leftnav">
        
    </div>

    <div class="main">
        <div id="flexWindow">
        </div>

        {% include "sorter.html" %}

        <div id="housePlansArray">
            {% for house in house_plans %}
            <div class="oneHouseBlockWrapper">
            <a href="{{house.id}}" class="oneHouseBlock">
                    <!--<img src="/images/default.jpg" class="image-in-browser"></img> -->
                    <div id="houseName" >{{ house.name }}</div><br>
                    <table class="house-info">
                        <tr>
                            <td>{{ house.total_area }}m2</td>
                            <td>{{ house.price }}$</td>
                        </tr>
                        <tr>
                            <td>{{ house.rooms }} rooms</td>
                            <td>{{ house.floors }} floors</td>
                        </tr>
                    </table>
                </a>
                    {% if house.id in favourites %}
                    <a class="fav fav-activated" id="{{house.id}}">Fav</a>
                    {% else %}
                    <a class="fav" id="{{house.id}}">Fav</a>
                    {% endif %}

                <div id="hpids">
                    {% for fav_plan in fav_plans_ids %}
                        {{ fav_plan.house_plan }}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}