{% extends 'base.html' %}

{% block title %}{{ housePlan.name }}{% endblock %}

{% block body %}

<div id="flexWindow">
<img src="{{housePlan.picture.url}}" alt="house">
<h1>{{ housePlan.name }}</h1>

<table id="houseTable">
<tr>
<th>total area</td>
<th>price</td>
<th>rooms</td>
</tr>

<tr>
<td>{{ housePlan.total_area }}m2</td>
<td>{{ housePlan.price }}$</td>
<td>{{ housePlan.rooms }}</td>
</tr>
</table>
<br>
<br>
<table id="houseTable">
<tr>
<th>floors</td>
<th>additions</td>
<th>parking place</td>
</tr>

<tr>
<td>{{ housePlan.floors }}</td>
<td>{{ housePlan.additions }}</td>
<td>{{ housePlan.parking_place }}</td>
</tr>
</table>

<br>
<br>
<br>
<div id="descriptionTitle">Description</div>
<div id="description">{{ housePlan.description }}</div>
<button id="addToFavs">asd</button>
</div>

{% endblock %}