{% extends 'base.html' %}
{% block title %}House plans{% endblock %}
{% block body %}

<div class="containerNavMain">

    <div class="leftnav">
        <form class="pickForm" action="">
            <div>total area</div>
            <input type="number" id="min-total-area" name="min-total-area" placeholder="min">
            <input type="number" id="max-total-area" name="max-total-area" placeholder="max">
            <br>
            <div>floors</div>
            <input type="number" id="min-floors" name="min-floors" placeholder="min">
            <input type="number" id="max-floors" name="max-floors" placeholder="max">
            <br>
            <div>rooms</div>
            <input type="number" id="min-rooms" name="min-rooms" placeholder="min">
            <input type="number" id="max-rooms" name="max-rooms" placeholder="max">
            <br>
            <div>price</div>
            <input type="text" id="min-price" name="min-price" placeholder="min">
            <input type="text" id="max-price" name="max-price" placeholder="max">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="main">
        <div id="flexWindow">
        </div>

        {% include "sorter.html" %}

        <div id="housePlansArray">
            {% for house in house_plans %}
            <div class="oneHouseBlockWrapper">
            <a href="{{house.id}}" class="oneHouseBlock">
                    <img src="/images/default.jpg" class="image-in-browser"></img>
                    <div id="houseName" >{{ house.name }}</div><br>
                    <table class="house-info">
                        <tr>
                            <td>{{ house.total_area }}m2</td>
                            <td>{{ house.price }}$</td>
                        </tr>
                        <tr>
                            <td>{{ house.rooms }} rooms</td>
                            <td>{{ house.floors }} floors</td>
                        </tr>
                    </table>
                </a>
                    {% if house.id in favourites %}
                    <a class="fav fav-activated" id="{{house.id}}">Fav</a>
                    {% else %}
                    <a class="fav" id="{{house.id}}">Fav</a>
                    {% endif %}

                <div id="hpids">
                    {% for fav_plan in fav_plans_ids %}
                        {{ fav_plan.house_plan }}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}