{% extends 'base.html' %}
{% block title %}House plans{% endblock %}
{% block body %}


<div id="flexWindow">
<h1>House plans</h1>

<table id="houseTable">
<tr>
<td id="name">name</td>
<td id="total_area">total area</td>
<td id="price">price</td>
<td id="rooms">rooms</td>
<td id="floors">floors</td>
<td id="additions">additions</td>
<td id="parking_place">parking place</td>
<td id="description">description</td>

{% for house in housePlans %}
<tr>
<td>{{ house.name }}</td>
<td>{{ house.total_area }}</td>
<td>{{ house.price }}</td>
<td>{{ house.rooms }}</td>
<td>{{ house.floors }}</td>
<td>{{ house.additions }}</td>
<td>{{ house.parking_place }}</td>
<td>{{ house.description }}</td>
</tr>
{% endfor %}
</table>
<!-- <p id="addHouse"><a href="addHouse/">Add house</a></p> -->
</div>


<div id="housePlanArray">
    {% for house in housePlans %}
        <a href="{{house.id}}" id="housePlanBlock">
            <div id="houseName">{{ house.name }}</div>
            <div id="houseTotalArea">{{ house.total_area }}m2</div>
            <div id="housePrice">{{ house.price }}$</div>
            <div id="houseRooms">{{ house.rooms }} rooms</div>
        </a>
    {% endfor %}
</div>



{% endblock %}