<form action="" method="get" name="sortForm" id="sortForm">
  <!-- <label for="sort">Order by:</label> -->
  <select name="sort" id="sort" class="form-select" aria-label="Default select example" value="asdads" style="margin: 25px; max-width: 150px">
      <option selected disabled value="default">Sort by:</option>
      <option value="name">name</option>
      <option value="total_area">total area</option>
      <option value="price">price</option>
      <option value="rooms">rooms</option>
  </select>
</form>