{% extends 'base.html' %}
{% block title %}Favourites{% endblock %}
{% block body %}



<div id="flexWindow">
<h1 id="test">Favourite house plans</h1>
</div>



<form action="" method="get" name="orderForm" id="orderForm">
  {% csrf_token %}
  <label for="order">Order by:</label>
  <select name="order" id="order" >   <!--   onchange="orderSend()"   -->
      <option value="name" {% if order == "name" %} selected="selected" {% endif %}>name</option>
      <option value="total-area" {% if order == "total_area" %} selected="selected" {% endif %}>total area</option>
      <option value="price" {% if order == "price" %} selected="selected" {% endif %}>price</option>
      <option value="rooms" {% if order == "rooms" %} selected="selected" {% endif %}>rooms</option>
  </select>
</form>

<div id="housePlansArray">
    {% for favourite in user_favourites %}
         <a href="/housePlanBrowser/{{favourite.house_plan.id}}" id="housePlansBlock">
         <!--   <img src="/images/default.jpg" class="image-in-browser"></img>-->

            <div id="houseName">{{ favourite.house_plan.name }}</div>
            <table class="plan-browser-info-table">

                <tr>
                    <td>{{ favourite.house_plan.total_area }}m2</td>
                    <td>{{ favourite.house_plan.price }}$</td>
                </tr>
                <tr>
                    <td>{{ favourite.house_plan.rooms }} rooms</td>
                    <td>{{ favourite.house_plan.floors }} floors</td>
                </tr>
            </table>
        </a>
    {% endfor %}
</div>

<!--
            <div id="houseTotalArea" class="house-item">{{ favourite.house_plan.total_area }}m2</div>
            <div id="housePrice" class="house-item">{{ favourite.house_plan.price }}$</div>
            <div id="houseRooms" class="house-item">{{ favourite.house_plan.rooms }} rooms</div>
            <div id="houseFloors" class="house-item">{{ favourite.house_plan.floors }} floors</div>

<script>
function switchOrder() {
document.getElementById("orderForm").submit();
}
</script>

-->
<script>
var csrftoken = '{{ csrf_token }}';
</script>
{% endblock %}

