{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}
{% block body %}

<div id="flexWindow">
<h1>Favourite house plans</h1>

</div>



<form action="/action_page.php" method="get">
  <label for="ordering">Order by:</label>
  <select name="ordering" id="ordering">
      <option value="name">name</option>
      <option value="total-area">total area</option>
      <option value="price">price</option>
      <option value="rooms">rooms</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<div id="housePlanArray">
    {% for favourite in user_favourites %}
        <a href="{{house.id}}" id="housePlanBlock">
            <div id="houseName">{{ favourite.house_plan.name }}</div>
            <div id="houseTotalArea">{{ favourite.house_plan.total_area }}m2</div>
            <div id="housePrice">{{ favourite.house_plan.price }}$</div>
            <div id="houseRooms">{{ favourite.house_plan.rooms }} rooms</div>
        </a>
    {% endfor %}
</div>

{% endblock %}

