{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="flexWindow">
    <form method="post">
    {% csrf_token %}
    {{ form.address_one.label }}
    {{ form.address_one }}
    <br><br>
    {{ form.address_two.label }}
    <!--{{ form.address_two.value }}-->
    {{ form.address_two }}
    <br><br>
    {{ form.contact_person_name.label }}
    {{ form.contact_person_name }}
    <br><br>
    {{ form.telephone_number.label }}
    {{ form.telephone_number }}
    <button type="submit">submit</button>
    </form>
</div>

{% endblock %}