{% extends 'base.html' %}
{% block title %}Favourites{% endblock %}
{% block body %}



<div id="flexWindow">
<h1 id="test">Favourite house plans</h1>
</div>

{% include "sorter.html" %}

<div id="housePlansArray">
    {% for favourite in user_favourites %}
    <div class="oneHouseBlock">
         <a href="/housePlanBrowser/{{favourite.house_plan.id}}" class="housePlansBlock">
         <!--   <img src="/images/default.jpg" class="image-in-browser"></img>-->
            <div id="houseName">{{ favourite.house_plan.name }}</div>
            <table class="plan-browser-info-table">
                <tr>
                    <td>{{ favourite.house_plan.total_area }}m2</td>
                    <td>{{ favourite.house_plan.price }}$</td>
                </tr>
                <tr>
                    <td>{{ favourite.house_plan.rooms }} rooms</td>
                    <td>{{ favourite.house_plan.floors }} floors</td>
                </tr>
            </table>
        </a>
        <a class="fav fav-activated" id="{{favourite.house_plan.id}}">fav</a>
    </div>
    {% endfor %}
</div>

<div id="helper">AAA</div>

{% endblock %}

